.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
}

.logo{
  font-size:28px;
  color:white;
  font-weight:bold;
}

.nav-buttons button{
  margin-left:15px;
}